name: Sanity Test

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]
  merge_group:
    types: [checks_requested]
jobs:
  check-prerequisites:
    runs-on: ubuntu-latest
    steps:
    - name: Check prerequisites for running Sanity test
      run: |
        if [ "${{ github.event_name }}" != 'pull_request_target' ]; then
          echo "The workflow is not triggered from PR, but ${{ github.event_name }} - skipping further checks."
          exit 0
        fi

        WHITELISTED_BOT_NAME="renovate[bot]"
        REQUIRED_LABEL_NAME="ok-to-test"

        ORG="${{ github.repository_owner }}"
        PR_AUTHOR=$(jq --raw-output .pull_request.user.login $GITHUB_EVENT_PATH)
        PR_LABELS=$(jq --raw-output .pull_request.labels[].name $GITHUB_EVENT_PATH)

        if [ "$PR_AUTHOR" == "$WHITELISTED_BOT_NAME" ]; then
          echo "PR author is "$WHITELISTED_BOT_NAME", skipping further checks."
          exit 0
        fi

        if [[ "$PR_LABELS" == *$REQUIRED_LABEL_NAME* ]]; then
          echo "PR has '$REQUIRED_LABEL_NAME' label, skipping further checks."
          exit 0
        fi

        if gh api "/orgs/$ORG/members/$PR_AUTHOR"; then
          echo "PR author is a member of $ORG GitHub organization, skipping further checks"
          exit 0
        fi

        ERROR_SUMMARY=$(cat <<EOF

        ### âŒ Cannot run Sanity test - at least one of the following conditions must be met:
        * PR author is '$WHITELISTED_BOT_NAME'
        * PR has label '$REQUIRED_LABEL_NAME'
        * PR author is a public member of '$ORG' GitHub organization
        EOF
        )
        echo "$ERROR_SUMMARY" >> $GITHUB_STEP_SUMMARY
        echo "$ERROR_SUMMARY"

        exit 1
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  sanity-test:
    needs: check-prerequisites
    runs-on: ubuntu-latest
    steps:
      - name: Deploying Dependencies
        run: |
          echo hello
